In [1]:
import pandas as pd
import numpy as np

#### Load Train and Test Data:

In [2]:
train = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Train-1542865627584.csv")
train_beneficiary = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Train_Beneficiarydata-1542865627584.csv")
train_inpatient = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Train_Inpatientdata-1542865627584.csv")
train_outpatient = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Train_Outpatientdata-1542865627584.csv")

In [3]:
test = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Test-1542969243754.csv")
test_beneficiary = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Test_Beneficiarydata-1542969243754.csv")
test_inpatient = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Test_Inpatientdata-1542969243754.csv")
test_outpatient = pd.read_csv(r"C:\Users\shabn\OneDrive\Documents\Sprinboard\Unit15\HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS\Test_Outpatientdata-1542969243754.csv")

#### Shape of data:

In [4]:
print('Shape of train_y data :',train.shape)
print('Shape of train_beneficiary data :',train_beneficiary.shape)
print('Shape of train_inpatient data :',train_inpatient.shape)
print('Shape of train_outpatient data :',train_outpatient.shape)

print('Shape of test_provs data :',test.shape)
print('Shape of test_beneficiary data :',test_beneficiary.shape)
print('Shape of test_inpatient data :',test_inpatient.shape)
print('Shape of test_outpatient data :',test_outpatient.shape)

Shape of train_y data : (5410, 2)
Shape of train_beneficiary data : (138556, 25)
Shape of train_inpatient data : (40474, 30)
Shape of train_outpatient data : (517737, 27)
Shape of test_provs data : (1353, 1)
Shape of test_beneficiary data : (63968, 25)
Shape of test_inpatient data : (9551, 30)
Shape of test_outpatient data : (125841, 27)

#### First few rows of each:

In [5]:
train.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5410 entries, 0 to 5409
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provider        5410 non-null   object
 1   PotentialFraud  5410 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB

In [7]:
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [8]:
train_beneficiary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  object
 2   DOD                              1421 non-null    object
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
dtypes: int64(21), object(4)
memory usage: 26.4+ MB

In [9]:
train_beneficiary.isna().sum()

BeneID                                  0
DOB                                     0
DOD                                137135
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
dtype: int64

In [10]:
train_beneficiary=train_beneficiary.fillna(0)

In [11]:
train_beneficiary.isna().sum()

BeneID                             0
DOB                                0
DOD                                0
Gender                             0
Race                               0
RenalDiseaseIndicator              0
State                              0
County                             0
NoOfMonths_PartACov                0
NoOfMonths_PartBCov                0
ChronicCond_Alzheimer              0
ChronicCond_Heartfailure           0
ChronicCond_KidneyDisease          0
ChronicCond_Cancer                 0
ChronicCond_ObstrPulmonary         0
ChronicCond_Depression             0
ChronicCond_Diabetes               0
ChronicCond_IschemicHeart          0
ChronicCond_Osteoporasis           0
ChronicCond_rheumatoidarthritis    0
ChronicCond_stroke                 0
IPAnnualReimbursementAmt           0
IPAnnualDeductibleAmt              0
OPAnnualReimbursementAmt           0
OPAnnualDeductibleAmt              0
dtype: int64

In [36]:
train_beneficiary.duplicated().sum()

0

In [62]:
train_beneficiary['DOB'].str.match('[0-9]{4}-[0-9]{2}-[0-9]{2}').sum()

138556

In [12]:
train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [13]:
train_inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

In [14]:
train_inpatient.isna().sum()

BeneID                        0
ClaimID                       0
ClaimStartDt                  0
ClaimEndDt                    0
Provider                      0
InscClaimAmtReimbursed        0
AttendingPhysician          112
OperatingPhysician        16644
OtherPhysician            35784
AdmissionDt                   0
ClmAdmitDiagnosisCode         0
DeductibleAmtPaid           899
DischargeDt                   0
DiagnosisGroupCode            0
ClmDiagnosisCode_1            0
ClmDiagnosisCode_2          226
ClmDiagnosisCode_3          676
ClmDiagnosisCode_4         1534
ClmDiagnosisCode_5         2894
ClmDiagnosisCode_6         4838
ClmDiagnosisCode_7         7258
ClmDiagnosisCode_8         9942
ClmDiagnosisCode_9        13497
ClmDiagnosisCode_10       36547
ClmProcedureCode_1        17326
ClmProcedureCode_2        35020
ClmProcedureCode_3        39509
ClmProcedureCode_4        40358
ClmProcedureCode_5        40465
ClmProcedureCode_6        40474
dtype: int64

In [17]:
train_inpatient=train_inpatient.drop(['ClmProcedureCode_6'],axis=1)

In [18]:
train_inpatient.shape

(40474, 29)

In [19]:
train_inpatient=train_inpatient.fillna(0)

In [20]:
train_inpatient.isna().sum()

BeneID                    0
ClaimID                   0
ClaimStartDt              0
ClaimEndDt                0
Provider                  0
InscClaimAmtReimbursed    0
AttendingPhysician        0
OperatingPhysician        0
OtherPhysician            0
AdmissionDt               0
ClmAdmitDiagnosisCode     0
DeductibleAmtPaid         0
DischargeDt               0
DiagnosisGroupCode        0
ClmDiagnosisCode_1        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_10       0
ClmProcedureCode_1        0
ClmProcedureCode_2        0
ClmProcedureCode_3        0
ClmProcedureCode_4        0
ClmProcedureCode_5        0
dtype: int64

In [35]:
train_inpatient.duplicated().sum()

0

In [21]:
train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [22]:
train_outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB

In [23]:
missing = pd.concat([train_outpatient.isnull().sum(), 100 * train_outpatient.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by="count",ascending=False)

                         count           %
ClmProcedureCode_6      517737  100.000000
ClmProcedureCode_5      517737  100.000000
ClmProcedureCode_4      517735   99.999614
ClmProcedureCode_3      517733   99.999227
ClmProcedureCode_2      517701   99.993047
ClmProcedureCode_1      517575   99.968710
ClmDiagnosisCode_10     516654   99.790820
ClmDiagnosisCode_9      502899   97.134066
ClmDiagnosisCode_8      494825   95.574587
ClmDiagnosisCode_7      484776   93.633640
ClmDiagnosisCode_6      468981   90.582864
ClmDiagnosisCode_5      443393   85.640586
OperatingPhysician      427120   82.497484
ClmAdmitDiagnosisCode   412312   79.637345
ClmDiagnosisCode_4      392141   75.741351
OtherPhysician          322691   62.327205
ClmDiagnosisCode_3      314480   60.741264
ClmDiagnosisCode_2      195380   37.737307
ClmDiagnosisCode_1       10453    2.018979
AttendingPhysician        1396    0.269635
ClaimID                      0    0.000000
InscClaimAmtReimbursed       0    0.000000
Provider                     0    0.000000
ClaimEndDt                   0    0.000000
ClaimStartDt                 0    0.000000
DeductibleAmtPaid            0    0.000000
BeneID                       0    0.000000

In [24]:
train_outpatient=train_outpatient.drop(['ClmProcedureCode_6','ClmProcedureCode_5','ClmProcedureCode_4','ClmProcedureCode_3','ClmProcedureCode_2','ClmProcedureCode_1'],axis=1)

In [25]:
train_outpatient=train_outpatient.fillna(0)

In [26]:
train_outpatient.isna().sum()

BeneID                    0
ClaimID                   0
ClaimStartDt              0
ClaimEndDt                0
Provider                  0
InscClaimAmtReimbursed    0
AttendingPhysician        0
OperatingPhysician        0
OtherPhysician            0
ClmDiagnosisCode_1        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_10       0
DeductibleAmtPaid         0
ClmAdmitDiagnosisCode     0
dtype: int64

In [34]:
train_outpatient.duplicated().sum()

0

In [29]:
test.head()

   Provider
0  PRV51002
1  PRV51006
2  PRV51009
3  PRV51010
4  PRV51018

In [30]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provider  1353 non-null   object
dtypes: object(1)
memory usage: 10.7+ KB

In [32]:
test.duplicated().sum()

0

In [59]:
test_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,0,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,...,2,1,2,1,1,2,0,0,1490,160
2,BENE11010,1936-07-01,0,2,1,0,41,30,12,12,...,2,1,1,1,2,2,0,0,1170,660
3,BENE11011,1914-03-01,0,2,2,0,1,360,12,12,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,1938-04-01,0,2,1,Y,45,780,12,12,...,1,2,1,2,2,2,21260,2136,120,100

In [64]:
test_beneficiary['DOB'].str.match('[0-9]{4}-[0-9]{2}-[0-9]{2}').sum()

63968

In [65]:
test_beneficiary['DOD'].str.match('[0-9]{4}-[0-9]{2}-[0-9]{2}').sum()

574

In [37]:
test_beneficiary.isna().sum()

BeneID                                 0
DOB                                    0
DOD                                63394
Gender                                 0
Race                                   0
RenalDiseaseIndicator                  0
State                                  0
County                                 0
NoOfMonths_PartACov                    0
NoOfMonths_PartBCov                    0
ChronicCond_Alzheimer                  0
ChronicCond_Heartfailure               0
ChronicCond_KidneyDisease              0
ChronicCond_Cancer                     0
ChronicCond_ObstrPulmonary             0
ChronicCond_Depression                 0
ChronicCond_Diabetes                   0
ChronicCond_IschemicHeart              0
ChronicCond_Osteoporasis               0
ChronicCond_rheumatoidarthritis        0
ChronicCond_stroke                     0
IPAnnualReimbursementAmt               0
IPAnnualDeductibleAmt                  0
OPAnnualReimbursementAmt               0
OPAnnualDeductibleAmt                  0
dtype: int64

In [38]:
missing = pd.concat([test_beneficiary.isnull().sum(), 100 * test_beneficiary.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by="count",ascending=False)

                                 count          %
DOD                              63394  99.102676
BeneID                               0   0.000000
ChronicCond_Cancer                   0   0.000000
OPAnnualReimbursementAmt             0   0.000000
IPAnnualDeductibleAmt                0   0.000000
IPAnnualReimbursementAmt             0   0.000000
ChronicCond_stroke                   0   0.000000
ChronicCond_rheumatoidarthritis      0   0.000000
ChronicCond_Osteoporasis             0   0.000000
ChronicCond_IschemicHeart            0   0.000000
ChronicCond_Diabetes                 0   0.000000
ChronicCond_Depression               0   0.000000
ChronicCond_ObstrPulmonary           0   0.000000
ChronicCond_KidneyDisease            0   0.000000
DOB                                  0   0.000000
ChronicCond_Heartfailure             0   0.000000
ChronicCond_Alzheimer                0   0.000000
NoOfMonths_PartBCov                  0   0.000000
NoOfMonths_PartACov                  0   0.000000
County                               0   0.000000
State                                0   0.000000
RenalDiseaseIndicator                0   0.000000
Race                                 0   0.000000
Gender                               0   0.000000
OPAnnualDeductibleAmt                0   0.000000

In [41]:
test_beneficiary['DOD']=test_beneficiary['DOD'].fillna(0)

In [42]:
test_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11031,CLM56810,2009-06-23,2009-07-06,PRV55825,16000,PHY429538,PHY371893,NaN,2009-06-23,...,4254,41400,5849,41401,8152.0,3320.0,NaN,NaN,NaN,NaN
4,BENE11085,CLM34625,2009-01-20,2009-01-31,PRV52338,19000,PHY397161,NaN,NaN,2009-01-20,...,V6109,7242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
test_inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  9551 non-null   object
 1   ClaimID                 9551 non-null   object
 2   ClaimStartDt            9551 non-null   object
 3   ClaimEndDt              9551 non-null   object
 4   Provider                9551 non-null   object
 5   InscClaimAmtReimbursed  9551 non-null   int64
 6   AttendingPhysician      9520 non-null   object
 7   OperatingPhysician      5589 non-null   object
 8   OtherPhysician          1013 non-null   object
 9   AdmissionDt             9551 non-null   object
 10  ClmAdmitDiagnosisCode   9551 non-null   object
 11  DeductibleAmtPaid       9355 non-null   float64
 12  DischargeDt             9551 non-null   object
 13  DiagnosisGroupCode      9551 non-null   object
 14  ClmDiagnosisCode_1      9551 non-null   object
 15  ClmDiagnosisCode_2      9497 non-null   object
 16  ClmDiagnosisCode_3      9382 non-null   object
 17  ClmDiagnosisCode_4      9147 non-null   object
 18  ClmDiagnosisCode_5      8832 non-null   object
 19  ClmDiagnosisCode_6      8354 non-null   object
 20  ClmDiagnosisCode_7      7815 non-null   object
 21  ClmDiagnosisCode_8      7191 non-null   object
 22  ClmDiagnosisCode_9      6313 non-null   object
 23  ClmDiagnosisCode_10     887 non-null    object
 24  ClmProcedureCode_1      5433 non-null   float64
 25  ClmProcedureCode_2      1254 non-null   float64
 26  ClmProcedureCode_3      223 non-null    float64
 27  ClmProcedureCode_4      29 non-null     float64
 28  ClmProcedureCode_5      2 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 2.2+ MB

In [44]:
missing = pd.concat([test_inpatient.isnull().sum(), 100 * test_inpatient.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by="count",ascending=False)

                        count           %
ClmProcedureCode_6       9551  100.000000
ClmProcedureCode_5       9549   99.979060
ClmProcedureCode_4       9522   99.696367
ClmProcedureCode_3       9328   97.665166
ClmDiagnosisCode_10      8664   90.713014
OtherPhysician           8538   89.393781
ClmProcedureCode_2       8297   86.870485
ClmProcedureCode_1       4118   43.115904
OperatingPhysician       3962   41.482567
ClmDiagnosisCode_9       3238   33.902209
ClmDiagnosisCode_8       2360   24.709455
ClmDiagnosisCode_7       1736   18.176107
ClmDiagnosisCode_6       1197   12.532719
ClmDiagnosisCode_5        719    7.528008
ClmDiagnosisCode_4        404    4.229924
DeductibleAmtPaid         196    2.052141
ClmDiagnosisCode_3        169    1.769448
ClmDiagnosisCode_2         54    0.565386
AttendingPhysician         31    0.324573
ClaimID                     0    0.000000
ClmDiagnosisCode_1          0    0.000000
DiagnosisGroupCode          0    0.000000
DischargeDt                 0    0.000000
ClmAdmitDiagnosisCode       0    0.000000
AdmissionDt                 0    0.000000
InscClaimAmtReimbursed      0    0.000000
Provider                    0    0.000000
ClaimEndDt                  0    0.000000
ClaimStartDt                0    0.000000
BeneID                      0    0.000000

In [46]:
test_inpatient=test_inpatient.drop(['ClmProcedureCode_3','ClmProcedureCode_4','ClmProcedureCode_5','ClmProcedureCode_6'],axis=1)

In [47]:
test_inpatient=test_inpatient.fillna(0)

In [48]:
test_inpatient.duplicated().sum()

0

In [49]:
test_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11007,CLM496381,2009-07-29,2009-07-29,PRV56573,10,PHY393253,PHY347995,NaN,58889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,5939
4,BENE11007,CLM521391,2009-08-12,2009-08-12,PRV56573,10,PHY417685,NaN,PHY382041,V666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [50]:
test_outpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125841 entries, 0 to 125840
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  125841 non-null  object
 1   ClaimID                 125841 non-null  object
 2   ClaimStartDt            125841 non-null  object
 3   ClaimEndDt              125841 non-null  object
 4   Provider                125841 non-null  object
 5   InscClaimAmtReimbursed  125841 non-null  int64
 6   AttendingPhysician      125525 non-null  object
 7   OperatingPhysician      21604 non-null   object
 8   OtherPhysician          47619 non-null   object
 9   ClmDiagnosisCode_1      123263 non-null  object
 10  ClmDiagnosisCode_2      78110 non-null   object
 11  ClmDiagnosisCode_3      49266 non-null   object
 12  ClmDiagnosisCode_4      30470 non-null   object
 13  ClmDiagnosisCode_5      17966 non-null   object
 14  ClmDiagnosisCode_6      11806 non-null   object
 15  ClmDiagnosisCode_7      7970 non-null    object
 16  ClmDiagnosisCode_8      5531 non-null    object
 17  ClmDiagnosisCode_9      3563 non-null    object
 18  ClmDiagnosisCode_10     263 non-null     object
 19  ClmProcedureCode_1      34 non-null      float64
 20  ClmProcedureCode_2      9 non-null       float64
 21  ClmProcedureCode_3      2 non-null       float64
 22  ClmProcedureCode_4      0 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       125841 non-null  int64
 26  ClmAdmitDiagnosisCode   25805 non-null   object
dtypes: float64(6), int64(2), object(19)
memory usage: 25.9+ MB

In [51]:
missing = pd.concat([test_outpatient.isnull().sum(), 100 * test_outpatient.isnull().mean()], axis=1)
missing.columns=["count", "%"]
missing.sort_values(by="count",ascending=False)

                         count           %
ClmProcedureCode_6      125841  100.000000
ClmProcedureCode_5      125841  100.000000
ClmProcedureCode_4      125841  100.000000
ClmProcedureCode_3      125839   99.998411
ClmProcedureCode_2      125832   99.992848
ClmProcedureCode_1      125807   99.972982
ClmDiagnosisCode_10     125578   99.791006
ClmDiagnosisCode_9      122278   97.168649
ClmDiagnosisCode_8      120310   95.604771
ClmDiagnosisCode_7      117871   93.666611
ClmDiagnosisCode_6      114035   90.618320
ClmDiagnosisCode_5      107875   85.723254
OperatingPhysician      104237   82.832304
ClmAdmitDiagnosisCode   100036   79.493965
ClmDiagnosisCode_4       95371   75.786906
OtherPhysician           78222   62.159392
ClmDiagnosisCode_3       76575   60.850597
ClmDiagnosisCode_2       47731   37.929610
ClmDiagnosisCode_1        2578    2.048617
AttendingPhysician         316    0.251111
ClaimID                      0    0.000000
InscClaimAmtReimbursed       0    0.000000
Provider                     0    0.000000
ClaimEndDt                   0    0.000000
ClaimStartDt                 0    0.000000
DeductibleAmtPaid            0    0.000000
BeneID                       0    0.000000

In [53]:
test_outpatient=test_outpatient.drop(['ClmProcedureCode_6','ClmProcedureCode_5','ClmProcedureCode_4','ClmProcedureCode_3','ClmProcedureCode_2','ClmProcedureCode_1'],axis=1)

In [55]:
test_outpatient=test_outpatient.fillna(0)

In [57]:
test_outpatient.duplicated().sum()

0

In [58]:
test_outpatient.shape

(125841, 21)